<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form METHOD="post" th:object="${userByNameDto}">
    <label>
        Name:
        <input type="text" th:field="*{name}">
    </label>
    <input type="submit" value="Search"/>
</form>
<table class="table">
    <thead>
    <tr>
        <th:block th:each="name : ${headers}">
            <th scope="col" th:text="${name}"></th>
        </th:block>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="row : ${rows}">
        <tr scope="row">
            <th:block th:each="col : ${row}">
                <td scope="col" th:text="${col}"></td>
            </th:block>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>